<div class="devise-container">
  <div class="devise-app-title" style="text-align:center; font-size:2rem; font-weight:bold; color:#218a5a; margin-bottom:2rem; letter-spacing:0.1em;">cokarte</div>
  <h2>ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, 'ログイン状態を保持' %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
